@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  75% {
    transform: translate(-2px, 2px);
  }
  100% {
    transform: translate(2px, -2px);
  }
}

.vibrate {
  animation: vibrate 0.1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

.ambilight-image {
  max-width: 500px;
  border-radius: 5px;
  position: relative;
}

.imgcon {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.imgcon img {
  width: 100%;
}

.light {
  width: 105%;
  height: 105%;
  position: absolute;
  top: -10px;
  bottom: 0;
  transform: scale(1.08);
  left: 0;
  z-index: -1;
}

.blurComponent {
  background: #2f6ee7;
  filter: blur(300px);
}

.hidden {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.fadeOut {
  transition: opacity 0.5s ease, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
}

.fadeIn {
  transition: opacity 0.5s ease;
  opacity: 1;
  visibility: visible;
}

.relative-image {
  position: relative;
  overflow: hidden;
}

.relative-image::after {
  content: "";
  position: absolute;
  opacity: 0.7;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, black, transparent);
}
